---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
/**
 * Site header
 */
.n-header {
    font-weight: bold;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-top: 4vh;
    background-color: #FFF;
}
.n-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    font-weight: 700;
    color: #141E30;
    display: inline;
}

.right-title {
    font-size: 13px;
    text-align: right;
    align-self: right;
    color: #141E30;
    float: right;
}

.right-title li {
    float: right;
    text-transform: uppercase;
    margin-left:40px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EEE;
}
.right-title ul li a:hover, ul li a:focus {
 color: #FFF;
 background-color: #141E30;
}

